    <!-- parent  -->
<div class = "h-dvh w-full bg-slate-950 flex items-center justify-center">
    <div class= "w-3/4 h-2/4  flex  items-center justify-center">
            <div class="flex  items-centerjustify-center"><img src="../../assets/images/ejap.svg"> </div>
            
        
        <div class="pl-5 w-1/2 h-full flex flex-col gap-5 ">
            <h1 class="  pt-7 font-semibold  text-7xl text-[#ffbe00]">Hi, im EJAP</h1>
            <h2 class="  text-3xl text-[#ffbe00]">A Fullstack Developer</h2>
            <div class="w-full flex flex-row gap-5">
                <img class = " w-10 h-10 " src="../../assets/images/physics.png">
                <img class = "  w-10 h-10 " src="../../assets/images/python.png">
                <img class = "  w-10 h-10 " src="../../assets/images/nodejs.png">
                <img class = "   w-10 h-10" src="../../assets/images/html-5.png">
            </div>
            
            <button class=" w-fit bg-yellow hover:bg-transparent text-[#ffbe00] font-semibold hover:text-yellow py-2 px-4 border border-yellow-500 hover:border-transparent rounded">
                Contact me
              </button>
            
        

        </div>
        
        
    </div>



</div>