<div class = "h-dvh w-full bg-slate-950 flex flex-col">
    <h1 class="color-slate-100 pl-20 w-full text-[8vh] text-slate-100">SKILLS</h1>
<!-- 1st column -->
    <div class="w-full h-full flex justify-around align-center flex-wrap">

        <div class="max-w-sm ml-20 mt-10 bg-transparent h-1/2 rounded-lg shadow ">
            <a href="">
                <img class="rounded-t-lg w-40" src="../../assets/images/python.png" alt="" />
            </a>
            <div class="p-2">
                <a href="#">
                    <h5 class="mb-2 text-[3.5vh] font-bold tracking-tight text-slate-100 dark:text-white">Python Programming</h5>
                </a>
                <p class="mb-3 font-normal text-slate-100  dark:text-gray-400">Lorem Ipsom dolor.</p>
            </div>
        </div>
        <div class="max-w-sm ml-20 mt-10 bg-transparent h-1/2 rounded-lg shadow ">
            <a href="">
                <img class="rounded-t-lg w-40" src="../../assets/images/physics.png" alt="" />
            </a>
            <div class="p-2">
                <a href="#">
                    <h5 class="mb-2 text-[3.5vh] font-bold tracking-tight text-slate-100 dark:text-white">React Framework</h5>
                </a>
                <p class="mb-3 font-normal text-slate-100  dark:text-gray-400">Lorem Ipsom dolor.</p>
            </div>
        </div>
        <div class="max-w-sm ml-20 mt-10 bg-transparent h-1/2 rounded-lg shadow ">
            <a href="">
                <img class="rounded-t-lg w-40" src="../../assets/images/html-5.png" alt="" />
            </a>
            <div class="p-2">
                <a href="#">
                    <h5 class="mb-2 text-[3.5vh] font-bold tracking-tight text-slate-100 dark:text-white">Python Programming</h5>
                </a>
                <p class="mb-3 font-normal text-slate-100  dark:text-gray-400">Lorem Ipsom dolor.</p>
            </div>
        </div>
      
        
    </div>
<!-- 2nd column -->

<div class="w-full h-full flex justify-around align-center flex-wrap">

    <div class="max-w-sm ml-20 mt-10 bg-transparent h-1/2 rounded-lg shadow ">
        <a href="">
            <img class="rounded-t-lg w-40" src="../../assets/images/nodejs.png" alt="" />
        </a>
        <div class="p-2">
            <a href="#">
                <h5 class="mb-2 text-[3.5vh] font-bold tracking-tight text-slate-100 dark:text-white">Node Js </h5>
            </a>
            <p class="mb-3 font-normal text-slate-100  dark:text-gray-400">Lorem Ipsom dolor.</p>
        </div>
    </div>
    <div class="max-w-sm ml-20 mt-10 bg-transparent h-1/2 rounded-lg shadow ">
        <a href="">
            <img class="rounded-t-lg w-40" src="../../assets/images/python.png" alt="" />
        </a>
        <div class="p-2">
            <a href="#">
                <h5 class="mb-2 text-[3.5vh] font-bold tracking-tight text-slate-100 dark:text-white">Python Programming</h5>
            </a>
            <p class="mb-3 font-normal text-slate-100  dark:text-gray-400">Lorem Ipsom dolor.</p>
        </div>
    </div>
    <div class="max-w-sm ml-20 mt-10 bg-transparent h-1/2 rounded-lg shadow ">
        <a href="">
            <img class="rounded-t-lg w-40" src="../../assets/images/python.png" alt="" />
        </a>
        <div class="p-2">
            <a href="#">
                <h5 class="mb-2 text-[3.5vh] font-bold tracking-tight text-slate-100 dark:text-white">Python Programming</h5>
            </a>
            <p class="mb-3 font-normal text-slate-100  dark:text-gray-400">Lorem Ipsom dolor.</p>
        </div>
    </div>
  
    
</div>
    

</div>
