<div class="flex justify-around items-center h-screen bg-blue-900">
    <div class="w-1/4 h-3/4 bg-gray-300 flex flex-col justify-center items-center rounded-lg">
        <label class="text-lg mb-2">Add A To Do List</label>
        <input type="text" name="todoName" id="todoName" [formControl]="todoName" class="w-3/4 px-4 py-2 mb-2 rounded-md border border-gray-400" placeholder="Name">
        <input type="text" name="todoItem" id="todoItem" [formControl]="todoItem" class="w-3/4 px-4 py-2 mb-2 rounded-md border border-gray-400" placeholder="To do">
        <button (click)="pushItemToList()" class="w-3/4 px-4 py-2 bg-blue-500 text-white rounded-md hover:bg-blue-600 transition duration-300 ease-in-out">ADD</button>
    </div>

    <div class="w-1/2 h-3/4 bg-gray-300 flex flex-col items-start p-4 rounded-lg">
        <label class="text-lg mb-2">Owners</label>
        <!-- Loop through each owner -->
        <ng-container *ngFor="let owner of todoList">
            <div class="mb-4">
                <span class="font-bold text-xl">{{ owner.Name }}</span>
                <!-- Loop through each task of the owner -->
                <ul>
                    <li *ngFor="let task of owner.lists" class="mb-1">
                        <span class="font-bold text-xl">{{ task.taskName }}</span>
                    </li>
                </ul>
            </div>
        </ng-container>
    </div>
</div>
